body {
    margin: 150px;
    padding: 100px;
}

.svg {
    width: 200vw;
    height: 200vh;

}

.face {
    stroke: magenta;
    fill: pink;
}

.eyes {
    fill: magenta;
}
.mouth {
    stroke:"magenta";
    fill: magenta;
    
    }

